a#yellow:hover{
    color: #F4AB25;


}
nav{
    position: absolute;
}
header .border-bottom-1:hover{
    border-bottom: 1px solid!important;
    border-bottom-color: #F4AB25!important;
}
header .border-bottom-1{
    border-bottom: 1px solid!important;
    border-bottom-color: #000000!important;
}


#yellow{
    color: #F4AB25;


}

.navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show>.nav-link{
color : #F4AB25!important;
}

.navbar-dark{
    background-color : #000000;
}

.border {
    border: 1px solid #000000!important;
}
a:hover{
    color: white!important;
    text-decoration: none!important;
}

a{
    color: darkgrey!important;
}

.event{

}

.page-footer{
    background-color: black;

}

.footer-copyright{
    color: white;
}
h5{
    color : #ADADAD;
}
ul>li>a>.list-unstyled{
    color : #000000;
}

.container{
    position: relative;
    display: block;
    background-color: #FFFFFF;
    color : brown;
}
footer>.container{
    background-color: #000000;
}

.card:hover {
    box-shadow: 3px 3px 3px 3px #E5E5E5;
    transition-duration: .5s !important;
}

.card >img  {
    border-bottom: 1px solid!important;
    border-bottom-color: lightgrey!important;
}

.card-body{
    background-color: #FCFCFC;
}

.card-body:hover{
    box-shadow: 0px 3px 0px 0px #F2F2F2;


}

.btn-outline-primary{
    border-color: #F4AB25!important;
    color: #F4AB25!important;
}

.btn-outline-primary:hover{
    background-color: #000000!important;
}

.btn {
    transition-duration: 1s !important;
}

.card-body>.card-text{
    color: #000000;
}
form{
    background-color: #FCFCFC;
}

.to_register{
    font-size: 15px;
}

.image_boutique{
  max-width: 100%;
  height: auto;
}

#search{
    padding: 5px;
    border: 2px solid orange;
    border-radius: 30px;
    outline: none;
    padding-left: 30px
}

.chercher{
    display: inline-block;
}

.couleur_text{
    color: #F4AB25;
}

.image_etudiant{
    max-width: 100%;
    height: auto;
}

.video-responsive { 
    overflow:hidden; padding-bottom:50%; position:relative; height:0;
}

.video-responsive iframe { 
    left:0; top:0; height:90%; width:100%; position:absolute;
}
