/*
    Target any <a> element when
    this one is overflown
 */
a#yellow:hover {
    color: #F4AB25;
}

/*
    Target any <nav> element when
    Allows to use the properties right, left, top and bottom
 */
nav {
    position: absolute;
}

/*
    Target a class border-bottom
    this one is overflown
    Border and color
 */
header .border-bottom-1:hover {
    border-bottom: 1px solid !important;
    border-bottom-color: #F4AB25 !important;
}

header .border-bottom-1 {
    border-bottom: 1px solid !important;
    border-bottom-color: #000000 !important;
}

#yellow {
    color: #F4AB25;
}

.navbar-dark .navbar-nav .active > .nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show > .nav-link {
    color: #F4AB25 !important;
}

.navbar-dark {
    background-color: #000000;
}

.border {
    border: 1px solid #000000 !important;
}

/*
    Footer design
 */

footer a:hover {
    color: white !important;
    text-decoration: none !important;
}
.page-footer {
    background-color: black;
}
a {
    color: darkgrey !important;
}
.footer-copyright {
    color: white;
}
/*
    Evenements class color
 */
.evenements {
    color: #000000;
}

h5 {
    color: #ADADAD;
}

ul > li > a > .list-unstyled {
    color: #000000;
}

.container {
    position: relative;
    display: block;
    background-color: #FFFFFF;
    color: black;
}

footer > .container {
    background-color: #000000;
}

    /*
        design card boutique
     */

php
.card:hover {
    box-shadow: 3px 3px 3px 3px #E5E5E5;
    transition-duration: .5s !important;
}

.card > img {
    border-bottom: 1px solid !important;
    border-bottom-color: lightgrey !important;
}

.card-body {
    background-color: #FCFCFC;
}

.card-body:hover {
    box-shadow: 0px 3px 0px 0px #F2F2F2;


}

.btn-outline-primary {
    border-color: #F4AB25 !important;
    color: #F4AB25 !important;
}

.btn-outline-primary:hover {
    background-color: #000000 !important;
}

.btn {
    transition-duration: 0.5s !important;
}

.card-body > .card-text {
    color: #000000;

}

    /*
         design register
     */
form {
    background-color: #FCFCFC;
}

.to_register {
    font-size: 15px;
}
    /*
        Design a image boutique
     */
.image_boutique {
    max-width: 100%;
    height: auto;
}

    /*
        design reserch
     */
#search {
    padding: 5px;
    border: 1.5px solid orange;
    outline: none;
    padding-left: 20px;
    margin-left: 20px;
    border-radius: 4px
}

.chercher {
    display: inline-block;
}

.couleur_text {
    color: #F4AB25;
}


.image_etudiant {
    max-width: 100%;
    height: auto;
}

.inline {
    display: flex;
}

.custom-control-input:checked ~ .custom-control-label::before {
    color: #fff;
    border-color: #F4AB25 !important;
    background-color: #F4AB25 !important;
    box-shadow: 0px 0px 0px 0px #F4AB25 !important;
}
    /*
        Responsive
     */
.video-responsive {
    overflow: hidden;
    padding-bottom: 50%;
    position: relative;
    height: 0;
}

.video-responsive iframe {
    left: 0;
    top: 0;
    height: 90%;
    width: 100%;
    position: absolute;
}
    /*
        size
     */
.image_contact {
    max-width: 100%;
    height: auto;
}
    /*Color*/
.contact_color {
    color: #F4AB25;
}
    /*Color*/
.contact_tittle {
    color: #000000;
}
    /*Color*/
#connection {
    color: #000000;
}
    /*Color*/
#footer_color_title_mentions {
    color: white;
}
    /*Color*/
#footer_color_title_contact {
    color: white;
}
    /*Color*/
#footer_color_title_reseaux {
    color: white;
}
    /*Color*/
.select {
    color: orange;
}
    /*Back color*/
.cookiesPopup{
       background-color:#f2f2f2;
}
    /*position margin*/
#cookiesOk{
    margin-left: 10px;
    margin-right: 10px;;

}
.textpopup{
    margin-left: 10px;
}
    /*
        adjusts the height of the padding box
     */
.cookiesPopup{
    padding-bottom: 10px;;
}
    /*
        the border
    */
.hr_panier {
    border-top: 1px dotted black;
  }

header .btn-secondary {
    border: black;
    background-color: black !important;
    color: darkgray !important;
}




